.App {
  min-height: 100%;
  text-align: center;
  background-color: #191919;
}

.input-bar {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  width: 50vw;
  border-radius: 0.5em;
}

.input-bar:focus {
  border: 2px solid white;
}

.link {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  position: relative;
  border-style: none;
}

.link:hover {
  cursor: pointer;
}

.link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link:hover:after { 
  width: 100%; 
  left: 0;
}

.info-display {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
}

.title {
  font-size: 2em;
  color: white;
}

#info-title {
  font-size: 1.25em;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 5px solid white;
  background-color: #3e1d62;
  padding: 0 1em;
  align-items: center;
  border-radius: 25px;
  min-width: 30em;
}